<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="icon" type="image/x-icon" href="./public/assets/icon.svg">
    <!-- Links to css file and fonts used -->
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cherry+Bomb+One&family=Rammetto+One&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
    <img src="./public/assets/pokemon-23.svg" style="width: 250px">
    

    <div class="nav-bar">

        <a href="/"><div class="nav-elements">
            Home
        </div></a>

        <a href="/about"><div class="nav-elements">
            Tell Me About Pokemon
        </div></a>
    
        <a href="/contact"><div class="nav-elements">
            Contact Me
        </div></a>
    
        


    </header>