<%- include('includes/header.ejs') %>
    <div class="textbox2">
        <p>
        In the year 1996, a programmer from Japan who loved catching and studying bugs changed the world forever.
        Partnering with Nintendo, Satoshi Tajiri released a game called Pokemon and sent the entire world into a frenzy.
        Haters said that Pokemon was just a fad that would blow ever but fast forward to 28 years later and the Pokemon
        Company is bigger than ever. What started out as a pair of handheld games with a total memory of less than 8MB,
        is now a billion-dollar multinational company with their paws on every aspect of the pop culture.
        Video Games on modern consoles, TV shows, Movies, Collectible trading cards, and of course, their biggest moneymakers: Merchandise!
        
        </p>
    
        <p>So, what is a Pokemon? Pocket Monsters, Pokemon, for short is a term coined by Satoshi Tajiri, are fantastical creatures of varying
        shapes and sizes that live in the Pokemon world. In 1996, there were only 151 pokemon, but since then the Pokemon world has expanded and with each new instalment
        of the game comes a new batch of Pokemon. The current total is more than 1000 now. These creatures resemble everything from real world
        animals, to common household appliances. The limit is only the imagination of the artist.
        They can have elemental types like Fire, Water, Electric, Grass or just be plain Normal. There 18 different types and Pokemon can have between 1 and 2 of them.
        Pokemon roam freely in the wild but humans and Pokemon can also live in the Pokemon world together in harmony as some Pokemon can choose to be a companion to a human.

        </p>
    </div>

    <div class="picbox">
        <img src="./public/assets/sprig.png">
        <img src="./public/assets/fuecoco.png">
        <img src="./public/assets/quaxly.png">
    </div>
</body>
</html>