<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Pokemon</title>
</head>
<body>
    <h1>Pokemon</h1>
    <p>
        In the year 1996, a programmer from Japan who loved catching and studying bugs changed the world forever.
        Partnering with Nintendo, Satoshi Tajiri released a game called Pokemon and sent the entire world into a frenzy.
        Haters said that Pokemon was just a fad that would blow ever but fast forward to 28 years and the Pokemon
        Company is bigger than ever. What started out as a pair of handhe
        ld game with a total memory of less than 8MB,
        is now a billion-dollar multinational company with their paws on every aspect of the public consciousness.
        Video Games on modern consoles, TV shows, Movies, Collectible trading cards, and their biggest moneymakers: Merch!
        
    </p>
    <br>
    <p>So, what is a Pokemon? Pocket Monsters, Pokemon, for short is a term coined by Satoshi Tajiri to mean living creatures of varying
        shapes and sizes. In 1996, there are only 151 pokemon, but since then the Pokemon world has expanded and with each new instalment
        of the game comes a new batch of Pokemon. The current total is more than 1000 now. These creatures resemble everything from real world
        animals, to common household appliances. The limit is only the imagination of the artist. 
    </p>
</body>
</html>