<%- include('includes/header.ejs') %>
<div class="container">
<h1> Thank you for your post <%= firstname %> <%= lastname %></h1>
<h3>I will send you an email at <%= email %></h3>

</div>

</body>
</html>
